<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokenea</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga a ratione ullam, molestiae tempore id fugit, quod voluptates harum perferendis consectetur corrupti ducimus aliquid repellendus! Adipisci ea itaque temporibus laboriosam?</p>
</body>
</html>